.Eightth {
    position: relative;
    width: 100%;
    height: 800px;
    background-color: rgba(1, 0, 254, 1);
    display: flex;
    flex-direction: column;
    gap: 2%;
    padding: 2% 8%;
}

.message {
    position: absolute;
    left: 0;
}

.Eightth h1 {
    z-index: 1;
    font-family: Montserrat;
    font-size: 52px;
    font-weight: 500;
    line-height: 50.4px;
    text-align: left;
    color: rgba(23, 248, 113, 1);
}

.divs {
    width: 100%;
    height: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
    z-index: 1;
}

.divv {
    width: 28%;
    height: 90%;
    border: 3px dashed #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 2.5%;
}

.divv p {
    font-family: IBM Plex Mono;
    font-size: 22px;
    font-weight: 400;
    line-height: 35px;
    word-spacing: 2px;
    text-align: left;
    letter-spacing: 2px;
    color: #fff;
}

.divv span {
    width: 95%;
    height: 20%;
    display: flex;
    align-items: center;
    gap: 25%;



    font-family: IBM Plex Mono;
    font-size: 22px;
    font-weight: 400;
    line-height: 30px;
    color: #fff;
}







@media (max-width:1450px) {
    .divv p {
        font-size: 18px;
    }

    .divv span {
        font-size: 18px;
    }
}


@media (max-width:1370px) {
    .divv p {
        font-size: 18px;
    }

    .divv span {
        font-size: 18px;
    }

}


@media (max-width:1370px) {
    .Eightth {
        height: 600px;
    }

    .divv {
        height: 400px;
    }

    .divv p {
        font-size: 15px;
        line-height: 20px;
    }
}

@media (max-width:1250px) {
    .divv span {
        font-size: 14px;
    }

    .message {
        top: 25%;
        width: 40%;
        height: 70%;
    }
}

@media (max-width:1100px) {
    .divv {
        width: 30%;
        height: 350px;
    }

    .divv p {
        line-height: 15px;
        font-size: 14px;
    }

    .divv span {
        line-height: 20px;
    }
}

@media (max-width:1005px) {
    .divv {
        width: 30%;
        height: 350px;
    }

    .divv p {
        line-height: 15px;
        font-size: 14px;
    }

    .divv span {
        display: flex;
        gap: 5%;
        font-size: 14px;
        line-height: 20px;
    }
}

@media (max-width:390px) {

    .Eightth {
        position: relative;
        width: 100%;
        height: auto;
        background-color: rgba(1, 0, 254, 1);
        display: flex;
        flex-direction: column;
        gap: 2%;
        padding: 2% 8%;
    }

    .message {
        display: none;
    }

    .Eightth h1 {
        z-index: 1;
        font-family: Montserrat;
        font-size: 52px;
        font-weight: 500;
        line-height: 50.4px;
        text-align: left;
        color: rgba(23, 248, 113, 1);
    }

    .divs {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5%;
        z-index: 1;
    }

    .divv {
        width: 93%;
        height: 90%;
        border: 3px dashed #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 2.5%;
        margin-bottom: 10%;
        margin-top: 10%;
    }

    .divv p {
        font-family: IBM Plex Mono;
        font-size: 18px;
        font-weight: 400;
        line-height: 35px;
        word-spacing: 2px;
        text-align: left;
        letter-spacing: 2px;
        color: #fff;
    }

    .divv span {
        width: 95%;
        height: 20%;
        display: flex;
        align-items: center;
        gap: 25%;



        font-family: IBM Plex Mono;
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
        color: #fff;
    }
}